/* =========================
   DISABLE SELECTION
========================= */

*,
*::before,
*::after{

  -webkit-user-select:none;
  user-select:none;

  -webkit-tap-highlight-color:transparent;
}

canvas,
img,
button{

  -webkit-user-drag:none;
}